
<div class="myheader">

  <div class="mylogo">
<!--    <img src="assets/img/Booking-Symbol.png">-->
    <h2 class="text-white container">Booking.com</h2>
  </div>

  <div class="mynav">
      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand text-white" routerLink="home">Home</a>
          <a class="navbar-brand text-white">Info</a>
          <a class="navbar-brand text-white" routerLink="cities">Cities</a>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success text-white" type="submit">Search</button>
          </form>
        </div>
    </nav>
  </div>
</div>
