<div id="wrapper">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://t-cf.bstatic.com/xdata/images/city/square250/613105.webp?k=1e85cf4dec7b0d5a6327be91c38cf9c1711f9da1a31c4cba736f9cb751443ff1&o=" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Roma</h5>
    <p class="card-text">23.123 strutture</p>
    <a (click)="goToRoma()" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://t-cf.bstatic.com/xdata/images/city/square250/619644.webp?k=5b21ac6d3d913a54274d6546e60adb2c3c138d661dd1a2bd7b3aed53e9df0b65&o=" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Milano</h5>
    <p class="card-text">12.320 strutture</p>
    <a (click)="goToMilano()" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://t-cf.bstatic.com/xdata/images/city/square250/619603.webp?k=e99b114412b10bf0738fe5499e116eff15c7e79be35d2dc667793d5f2797a325&o=" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Firenze</h5>
    <p class="card-text">14.230 strutture</p>
    <a (click)="goToFirenze()" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://t-cf.bstatic.com/xdata/images/city/square250/641091.webp?k=6b4c99444b439d2ce4dbf5a479674965a4f196f4cab39bf7dd34e214f1d30b83&o=" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Napoli</h5>
    <p class="card-text">2 strutture</p>
    <a (click)="goToNapoli()" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://static.educalingo.com/img/it/800/mondo.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mondo</h5>
      <p class="card-text">452.430 strutture</p>
      <a (click)="goToHome()" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
</div>
