<header>
  <mat-toolbar color="warn">

    <button routerLink='home' routerLinkActive="active" mat-icon-button><mat-icon class="icon-display">home</mat-icon></button>
    <button routerLink='pop-form' routerLinkActive="active" mat-icon-button><mat-icon class="icon-display">add_circle_outline</mat-icon></button>
    <button routerLink='pop-card' routerLinkActive="active" mat-icon-button><mat-icon class="icon-display">ballot-icon</mat-icon></button>

    <h1 id="logo">MARVEL</h1>
  </mat-toolbar>

</header>
