<div id="wrapper">
<div  id="tablePop" *ngIf="isTable;else formino">
<table class="table table-dark table-bordered">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Strength</th>
    <th scope="col">Age</th>
    <th scope="col">Dead</th>
    <th scope="col">Delete</th>
    <th scope="col">Modify</th>
    <th scope="col">Details</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let d of Pops">
    <td>{{d['id']}}</td>
    <td>{{d['name']}}</td>
    <td > {{d['strength'] | translateStrength}}</td>
    <td>{{d['age']}}</td>
    <td>{{d['dead']}}</td>
    <td><a  (click)="deletePop(d['id'])"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/></svg></a></td>
    <td><a (click)="onButtonModifyPop(d['id']);onButtonModifyClicked(false)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg></a></td>
   <td><a (click)="showDetails(d)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z"/></svg></a></td>
  </tr>
  </tbody>
</table>
  <div class="flex-row">
    <div *ngFor="let p of PopCards">
      <app-pop-card [pop]="p">
      </app-pop-card>
      <button (click)="deletePop(p.id)"></button>
    </div>

  </div>
</div>
</div>

<ng-template #formino>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label for="name">Nome: </label>
    <input id="name" type="text" formControlName="Name">

    <label for="strength">Forza: </label>
    <input type="range" id="strength" name="strength" formControlName="Strength"
           min="0" max="10">

    <label for="age">Anni: </label>
    <input id="age" type="number" formControlName="Age">

    <label class="radio">Morto: </label>
    <div class ="row">
      <p>True <input class="radio" value="true" type="radio" formControlName="Dead"></p>
      <p>False  <input class="radio"  value="false" type="radio" formControlName="Dead"></p>
    </div>


    <!-- deve trovarsi all'interno del form -->
    <p>Completa il form per renderlo valido.</p>
      <button type="submit" [disabled]="!profileForm.valid">Invia</button>

    <p>Form Status: {{ profileForm.status }}</p>

  </form>
</ng-template>



