form{
  display:flex;
  flex-direction:row;
  justify-content: center;
  padding-top:20px;

}

#filtern{
  margin-right: 50px;
}

#o1{
  padding-left:10px;
  padding-right: 20px;
}

#o2{
  padding-left:10px;
  padding-right: 20px;
}
