
  <mat-toolbar >
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    Portfolio <mat-icon>accessible_forward</mat-icon>
  </mat-toolbar>



<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav" >
    <img class="avatar mat-elevation-z8" src="../../../../assets/img/1649078373622.jfif" />

    <h4 class="name">Simone Giampà </h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon  matTooltip="Menu">home</mat-icon>
    </button>
    <button mat-button class="menu-button">
      <mat-icon  matTooltip="Profile"> person</mat-icon>
    </button>
    <button mat-button class="menu-button">
      <mat-icon  matTooltip="Info">info</mat-icon>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon  matTooltip="Help">help</mat-icon>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>

    <div class="content mat-elevation-z8">
      <app-book-list></app-book-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
